* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}


.nav {
	padding: 30px 30px;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.logo h2 {
  margin: 0 50px 0 0;
  color: #2E86C1;
  font-weight: 600;
  font-size: 35px;
}

.menu {
  position: relative;
  top: 10px;
}

.menu ul{
  margin-left: 50px;
	display: flex;
	list-style: none;
}

.menu ul li {
  display: block;
}

.menu ul li a {
	font-size: 20px;
  color: rgba(0, 136, 169, 1);
  padding: 20px;
	font-weight: 700;
	text-decoration: none;
	text-transform: capitalize;
	padding-left: 26px;
}

.menu ul li a:hover,
.active {
  background: #2E86C1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease .3s;
  color: #fff;
}

.active a{
  color: #fff;
}

.checkbtn {
  font-size: 30px;
  position: relative;
  color: #2E86C1;
  line-height: 80px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 50px 20px;
}

.about-text {
	margin-left: 50px;
	margin-right: 30px;
}

.about-text h2 {
	font-size: 45px;
	font-weight: 600;
	color: #1a1d2d;
	line-height: 28px;
	margin-bottom: 20px;
}

.about-text p {
  font-size: 16px;
}

.about-text ul li {
	margin-bottom: 10px;
	list-style: none;
	font-size: 16px;
	line-height: 24px;
}

.about-text ul li i {
	margin-right: 20px;
}

.about-img {
	width: 500px;
}

.about-img img {
	width: 100%;
}

.product-box {
	padding: 30px 0px;
	background: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.product-box-1 {
  background: #fff;
  border-radius: 2px;
  height: 300px;
  margin-left: 42px;
  position: relative;
  width: 340px;
}

.product-box-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.product-box-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.box-inner {
	padding: 20px 20px;
	position: relative;
	align-items: center;
	justify-content: center;
}

.box-inner i {
	color: #2E86C1;
	font-size: 45px;
	margin-bottom: 10px 
}

.box-inner h3 {
  font-size: 23px;
	color: #1a1d2d;
	font-weight: 400;
	margin-bottom: 10px;
}

.box-inner h3 span {
	font-weight: 700;
}

.box-inner p {
  font-size: 14px;
	text-align: justify;
}







.partners {
  padding: 40px 20px;
}

.partners h2 {
  margin-bottom: 20px;
}

.partners h2 span {
  color: #2E86C1;
  font-weight: 800;
}

.square-holder {
  padding:30px;
  border: 1px solid #cecece;
  align-items: center;
  display:flex;
  align-items: center;
  justify-content: center;
  margin-bottom:20px;
  background-color:#f1f1f1;
  min-height:200px
}

.square-holder img {
  max-width:100%;
  filter: grayscale(100%);
  transition: all 0.3s;
}

.square-holder:hover img{
  filter:none;
}
















.w3l-project{
  background: #f8f9fa;
}
.bottom-info {
  max-width: 700px;
  margin: 0 auto;
}
form.subscribe {
  margin-top: 25px;
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  max-width: 550px;
  margin: auto;
}
.subscribe .input-group-text {
  color: #999;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: rgba(255, 255, 255, 0.15);
  padding: 0 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.subscribe input {
  padding: 14px 20px;
  font-size: 16px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  background: #fff;
  border-radius: 0;
  color: #777;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  line-height: 40px;
  height: 60px;
  display: inline-block;
}
.subscribe button.btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 22px;
  line-height: 40px;
  height: 60px;
  display: inline-block;
}

.title-w3l, .title-w3l.two {
	font-size: 38px;
    line-height: 48px;
    font-weight: 700;
}
}

@media only screen and (max-width: 384px) {
  form.subscribe {
    grid-template-columns:3fr auto;
  }

  .subscribe button.btn {
    padding: 0 20px;
  }

  .subscribe .input-group-text {
    padding: 0 12px;
    font-size: 15px;
  }
}
/*--//subscribe--*/


/*--/footer--*/
.w3l-copyright #movetop {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: #151421;
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}

.para {
	color: #777;
}

.w3l-footer-29-main {
  background: #151421;
}

.w3l-footer-29-main h2 a.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  padding: 0;
}
.w3l-footer-29-main h2 a.navbar-brand i{
  color:var(--primary-color);
}
.w3l-footer-29-main h2 a.navbar-brand span.sub-title {
  color: var(--font-color);
  display: block;
  font-size: 14px;
  font-weight: 300;
}

.w3l-footer-29-main h2 a.navbar-brand span {
  display: inline-block;
  color: var(--primary-color);
}

.w3l-footer-29-main h6.footer-title-29 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 600;
  position: relative;
  color: #fff;
}

.w3l-footer-29-main .footer-list-29 ul li,
.w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
  list-style: none;
  margin-bottom: 10px;
}

.w3l-footer-29-main .footer-list-29 ul li:last-child {
  margin-bottom: 0px;
}
.w3l-footer-29-main .footer-list-29 ul li a,
.w3l-footer-29-main .footer-list-29 ul li p,.w3l-footer-29-main .cont-right p,.w3l-footer-29-main .cont-right p a {
  font-size: 17px;
  line-height: 28px;
  color:#a9a4a4;
  opacity:0.9;
}

.w3l-footer-29-main .footer-list-29 ul li a:hover {
  color: var(--primary-color);
}

.w3l-footer-29-main span {
  font-size: 17px;
  line-height: 28px;
  color: #fff;
  margin-right: 10px;
  opacity: 0.9;
}
.w3l-footer-29-main .cont-top {
  display: grid;
  grid-template-columns: 20px auto;
  grid-column-gap: 20px;
}
.w3l-footer-29-main .cont-left span {
  color: #fff;
  font-size: 17px;
  margin-top: 1px;
  opacity: 0.9;
}
.w3l-footer-29-main .margin-up {
  margin-top:1em;
}
.w3l-copyright .main-social-footer-29 a span {
  margin-left: 10px;
  color: #fff;
  display: inline-block;
  text-align: center;
  font-size: 18px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  transition: 0.3s;
}

.w3l-copyright .main-social-footer-29 a span:hover {
  transition: 0.3s;
  color: var(--primary-color);
}

.w3l-copyright .copy-footer-29 a {
  color: var(--primary-color);
  font-weight: 600;
}

.w3l-copyright .copy-footer-29 a:hover {
  color: #fff;
}

.w3l-copyright .main-social-footer-29 {
  text-align: right;
}

.w3l-copyright {
  padding: 1.5em 0;
  background: #151421;
  border-top: 1px solid hsl(0deg 0% 87% / 5%);
}

.w3l-footer-29-main .footer-29 form {
  margin-top: 25px;
  position: relative;
}

.w3l-footer-29-main .footer-post a {
  font-weight: 500;
  color: #ccc;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 4px;
  display: inline-block;
}

.w3l-footer-29-main .footer-post a:hover {
  color: #eee;
}

.w3l-footer-29-main .footer-29 .subscribe input[type="email"] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid var(--border-color-light);
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius-full);
}

.w3l-copyright p.copy-footer-29 {
  align-self: center;
  color: #ddd;
}

.w3l-footer-29-main .footer-29 .subscribe input[type="email"]:focus {
  border: 1px solid var(--primary-color);
  background-color: var(--bg-color);
}

@media (max-width: 992px) {
  .w3l-copyright .copy-footer-29 {
    text-align: center;
  }

  .w3l-footer-29-main .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }

  .w3l-footer-29-main ul.list-btm-29 {
    text-align: center;
    margin-top: 10px;
  }

  .w3l-footer-29-main h6.footer-title-29 {
    margin-bottom: 20px;
  }

  .w3l-copyright .main-social-footer-29 {
    text-align: center;
    margin-top: 20px;
  }

  .w3l-footer-29-main h6.footer-title-29 {
    font-size: 20px;
  }
}

@media (max-width: 480px) {

  .w3l-footer-29-main .footer-list-29 ul li,
  .w3l-footer-29-main .midd-footer-29:nth-child(1) .footer-list-29 ul li:last-child {
    margin-bottom: 8px;
  }

  .w3l-footer-29-main a.navbar-brand {
    font-size: 26px;
  }
}

/*--//w3l-footer-29-main--*/





@media (max-width: 952px){
  .logo h2 {
    margin:20px 0 0 0;
    font-weight: 700;
  }

  nav ul li a {
    font-size: 16px;
  }

  .product-box {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 858px){
  .checkbtn {
    display: block;
    left: 23px;
  }

  .nav {
    width: 100%;
  }

  .menu ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background: #2c3e50;
    top: 100px;
    left: -113%;
    z-index: 1000;
    text-align: center;
    transition: all .5s;
    display: block;
  }

   #check:checked ~ .menu ul:before {
    position: absolute;
    content: '';
    left: 329px;
    top: 0;
    background: rgba(0, 0, 0,0.6);
    width: 50%;
    height: 100%;
    z-index: -700;
  }

  .menu ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .menu ul li a {
    font-size: 20px;
  }

  .menu a:hover,a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ .menu ul {
    left: -100px;
  }

  ul.slides {
    height: 475px;
  }

  .about {
    grid-template-columns: 1fr;
  }

  .product-box {
    grid-template-columns: 1fr;
  }

  .product-box-1 {
    height: 250px;
    margin-left: 13px;
    width: auto;

  }
}

@media (max-width: 658px) {
    .carousel {
      height: 100vh;
    }

    .carousel .item img {
      width: 100vh;
    }

   .about-text {
    margin-left: 34px;
  }

  .about-img {
    width: 320px;
    margin-left: 12px;
  }

  .product-box-1 {
    height: 250px;
    margin-left: 13px;
    width: 383px;
    margin-bottom: 21px;
  }
}



